header {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header-right {
    width: 400px;
    nav ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
      }
    }
  }
}
