{{ define "main" }}
  <main>
    <!--
    <div class="container mx-auto">
      <div class="grid">
        <div class="gallery__items">
          <a href="/media/brand/og-image.jpg" class="w-full md:w-6/12 text-white bg-hover js-paginate-element">
            <img class="w-full object-cover object-center lazyload p-4" data-src="/media/brand/og-image.jpg?nf_resize=fit&h=430" alt="/media/brand/og-image.jpg" width="520" height="430">
          </a>
        </div>

        <div class="col-12 col-sm-6">
          {{ .Content }}
        </div>
      </div>

      <br><br>

      <div class="grid">
        {{ range .Pages }}
          <article class="col-12 col-sm-6 ">
            <h4>{{ .Title }}</h4>
            <p>{{ .Description }}</p>
            <a href="{{ .Permalink }}">Više</a>
          </article>
        {{ end }}
      </div>
    </div>
    -->
  </main>
{{ end }}
